:root {
    --Green: hsl(75, 94%, 57%);
    --White: hsl(0, 0%, 100%);
    --Grey: hsl(0, 0%, 20%);
    --DarkGrey: hsl(0, 0%, 12%);
    --OffBlack: hsl(0, 0%, 8%);
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--White);
}

body {
    background-color: var(--OffBlack);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.socialLinks {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85%;
    padding: 20px;
    background-color: var(--DarkGrey);
    border-radius: 15px;
}

.socialLinks img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 0 20px 0;
}

.socialLinks h1 {
    font-weight: 600;
    margin-bottom: 6px;
    text-align: center;
}

.socialLinks h5 {
    color: var(--Green);
    text-align: center;
}

.socialLinks p {
    font-weight: 400;
    font-size: 14px;
    margin: 20px 0 20px 0;
    text-align: center;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.linkButton {
    width: 100%;
    height: fit-content;
    background-color: var(--Grey);
    text-align: center;
    margin: 6px 0 6px 0;
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 400;
    font-size: 15px;
    cursor: pointer;
}

.linkButton:hover {
    font-weight: 600;
    font-size: 15px;
    background-color: var(--Green);
    color: var(--DarkGrey);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
    position: absolute;
    bottom: 30px;
    width: 100%;
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width:375px){
    .socialLinks{
        width: 320px;
    }
}